{% extends "base.html" %}
{% load static %}
{% block title %}Listings{% endblock title %}
{% block hero %} <br> {% endblock hero %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 class="section-title">Listings</h3>
      <p class="section-description">
        You can find all the listings below:
      </p>
    </div>
    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {% for listing in object_list %}
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img
          src="{% static 'img/portfolio/portfolio-1.jpg' %}"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>{{ listing.title }}</h4>
          <p>{{ listing.description|truncatechars:50 }}</p>
          <a
            href="{% static 'img/portfolio/portfolio-1.jpg' %}"
            data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link"
            title="App 1"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="{% url 'main:service-details' listing.pk %}"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
          <ul style="list-style-type:'\1F44D';">
            {% for tag in listing.tags %}
                <li><a style="color: aliceblue;" href="?tag={{ tag }}">{{ tag }}</a> </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
  </div>
</section>
<!-- End Portfolio Section -->
{% endblock content %}
